:root {
    --purple: #d2c9ff;
    --gray: #eae8e8;
}

html,
body {
    height: 100%;
}

.bg-purple {
    background-color: var(--purple);
}

.bg-gray {
    background-color: var(--gray);
}

.shop-table > tbody > tr > td {
    vertical-align: middle;
    padding: 2rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
